[Unit]
Description=IPFS Daemon
After=network.target
Documentation=https://docs.ipfs.tech/

[Service]
User=sinco
Group=sinco
ExecStart=/home/sinco/opt/kubo/ipfs daemon
Restart=no
Type=exec
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
