[user]
	name = jaysinco
	email = jaysinco@163.com
[core]
	autocrlf = input
	safecrlf = true
	longpaths = true
	quotepath = false
[i18n]
	filesEncoding = utf-8
[pull]
	rebase = false
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
